.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
}

.logo {
  width: 60px;
  height: 60px;
  opacity : 1;
}

.release-video {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20rem;
  border: 0;
}